ines (194 sloc)  8.48 KB
   
<template>
    <div>
        <table-render :columns="formData.columns" :datas="formData.list"></table-render>
    </div>
</template>
<script>
    import { getTestList } from '@/api/test.js'
    import TableRender from './components/table-render.vue';
    export default {
        components: { TableRender },
        data () {
            return {
              formData: {
                columns: [
                    {
                        title: '姓名',
                        key: 'name',
                    },
                    {
                        title: '年龄',
                        key: 'age',
                    },
                    {
                        title: '出生日期',
                        key: 'birthday'
                    },
                    {
                        title: '住址',
                        key: 'address'
                    },
                    ],
                list:[]
              }
            }
        },
        created() {
    getTestList().then((res) => {
      const { code, data } = res
      if (Number(code) === 20000) {
        const { items, total } = data
        this.formData.list = items
      }
    })
  }
    }
</script>