<template>
  <div class="test-wrapper">
    <list-layout>
      <template slot="top">
        <buttons />
        <jsx/>
      </template>
      <template slot="middle">
        <renderless />
      </template>
      <template slot="bottom">
        <renders />
      </template>
    </list-layout>
  </div>
</template>

<script>
import Buttons from './components/buttons/index.vue'

import ListLayout from '@/components/ListLayout/index.vue'

import Renders from './components/render-table/index.vue'

import Renderless from './components/renderless-form/index.vue'

import Jsx from './components/jsx-table/index.vue'

export default {
  components: {
    ListLayout,
    Buttons,
    Renders,
    Renderless,
    Jsx
  }
}
</script>

<style lang="scss" scoped>

</style>
