<script>
export default {
  data() {
    return {
      tableData: [
        {
          date: "2022-05-20",
          name: "阿肆",
          address: "东方",
        },
        {
          date: "2022-05-21",
          name: "阿伍",
          address: "西方",
        },
        {
          date: "2022-05-22",
          name: "阿陆",
          address: "北方",
        },
        {
          date: "2022-05-23",
          name: "阿柒",
          address: "南方",
        },
      ],
    }
  },
  created() {
    getTestList().then((res) => {
      const { code, data } = res
      if (Number(code) === 30000) {
        const { items, total } = data
        this.tableData = items
      }
    })
  },
  methods: {
    del(row) {
      console.log(row);
    },
  },
  render() {
    return (
      <div>
        <el-table data={this.tableData} style="width: 100%">
          <el-table-column
            prop="date"
            label="日期"
            width="180"
          ></el-table-column>
          <el-table-column
            prop="name"
            label="姓名"
            width="180"
          ></el-table-column>
          <el-table-column prop="address" label="地址"></el-table-column>
          <el-table-column
            label="操作"
            {...{
              scopedSlots: {
                default: (scope) => {
                  return (
                    <el-button onClick={() => this.del(scope.row)}>
                      删除
                    </el-button>
                  );
                },
              },
            }}
          ></el-table-column>
        </el-table>
      </div>
    );
  },
};
</script>
