<template>
  <div class="switch-wrapper">
    <switch-roles @change="handleRolesChange" />请切换后刷新页面
    <el-input v-permission="['admin']" />
    <el-select v-model="value" v-permission="['admin']">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
  </div>
</template>

<script>
import permission from '@/permission/index.js'

import SwitchRoles from './components/SwitchRoles'

export default {
  name: 'DirectivePermission',
  components: { SwitchRoles },
  directives: { permission },
  data() {
    return {
      key: 1,
      value: '',
      options: [{
        value: 'Option1',
        label: 'Option1'
      }, {
        value: 'Option2',
        label: 'Option2'
      }, {
        value: 'Option3',
        label: 'Option3'
      }, {
        value: 'Option4',
        label: 'Option4'
      }, {
        value: 'Option5',
        label: 'Option5'
      }]
    }
  },

  methods: {
    handleRolesChange() {
      this.key++
    }
  }
}
</script>
