<template>
  <div class="list-layout-wrapper">
    <div class="top">
      <slot name="top" />
    </div>
    <div class="middle">
      <slot name="middle" />
    </div>
    <div class="bottom">
      <slot name="bottom" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.list-layout-wrapper{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  .top{
    width:100%;
    margin-bottom: 20px;
  }
  .middle{
    width:100%;
  }
  .bottom{
    width:100%;
  }
}
</style>
