<template>
    <table>
        <thead>
            <tr>
                <th v-for="col in columns" :key="col.key">{{ col.title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(row, rowIndex) in datas" :key="row.key">
                <td v-for="col in columns" :key="col.key">
                    <template v-if="'render' in col">
                        <Render :row="row" :column="col" :index="rowIndex" :render="col.render"></Render>
                    </template>
                    <template v-else>{{ row[col.key] }}</template>
                </td>
            </tr>
        </tbody>
    </table>
</template>
<script>
    import Render from './render.js';
    export default {
        components: { Render },
        props: {
            columns: {
                type: Array,
                default () {
                    return [];
                }
            },
            datas: {
                type: Array,
                default () {
                    return [];
                }
            }
        }
    }
</script>
<style>
</style>