<template>
  <div class="">
    <el-form>
      <el-form-item label="Age">
        <s-validate #default="{validate}" :rules="rules" :value="value">
          <el-input v-model="value" @blur="validate" />
        </s-validate>
      </el-form-item>

      <el-form-item label="Name">
        <s-validate #default="{validate}" :rules="textRules" :value="value2">
          <el-input v-model="value2" @blur="validate" />
        </s-validate>
      </el-form-item>

      <el-form-item>
        <el-input type="submit">Submit</el-input>
        <el-input type="reset">Reset</el-input>
      </el-form-item>
    </el-form>

  </div>
</template>

<script>
import SValidate from './svalidate.vue'

export default {
  components: {
    SValidate
  },
  data() {
    return {
      value: '',
      value2: '',
      rules: [
        {
          test: function(value) {
            return /\d + /.test(value)
          },
          message: '请至少包含一个数字'
        }
      ],
      textRules: [
        {
          test: function(value) {
            return value
          },
          message: '请输入一个非空的值'
        }
      ]

    }
  }
}
</script>

<style lang="scss" scoped>
</style>
